.footer {
  background-color: #2b2b2b;
  height: 180px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  color: white;

  &__infos {
    padding-bottom: 10px;
  }

  svg > path {
    fill: white;
  }

  &__logo {
    width: 120px;
    margin-bottom: 10px;
  }

  &__infos__logo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;

    &__propose {
      margin-right: 15px;
    }

    &__handshake {
      margin-right: 8px;
    }
  }
}

