.loader {

  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 73%, 0.9);
  animation: loader 2s;
  animation-fill-mode: none;
  z-index: -10;
  opacity: 0;

  @keyframes loader {
    from {
      z-index: 10000;
      opacity: 1;
    }

    to {
      opacity: 0;
      z-index: -1;
    }
  }


  &__spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #bb34a6;
    animation: spin 1s ease-in-out infinite;
    animation-fill-mode: none;

    background-color: #11ffee00;
    animation-iteration-count: 4;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

}

