.restaurant__body {
  background-color: #f3f3f3;
}

.arrow__icon {
  font-size: 20px;
  display: flex !important;
  align-items: center;
  position: relative;
  left: -15%;

}

.menu {
  background-color: #f3f3f3;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  position: relative;
  top: -55px;

  &__icon {
    color: #99e2d0;
  }

  &__title {
    padding: 35px 30px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    h1 {
      font-weight: lighter;
      font-family: 'Shrikhand', cursive;
      font-size: 28px;

    }
  }

  .heart > svg {
    width: 25px;
    color: white;

    path {
      fill: transparent;
      stroke-width: 25;
      stroke: black;
    }
  }

  #grad2 {
    > stop {
      offset: 0;
      stop-color:rgb(145, 63, 207);
      stop-opacity:1;
    }
  }


  .heart:hover svg * {
    animation: heart 0.5s;
    transform-origin: bottom;
    animation-fill-mode: forwards;
    fill: url(#grad2);
  }

  @keyframes heart {
    0% {
      transform: scale(0);
      fill: url(#grad2);
      stroke: transparent;

    }
    100% {
      transform: scale(1);
      stroke: transparent;

    }
  }

  &__sub {

    padding: 20px 20px 35px 20px;

    &__title {
      text-transform: uppercase;

      &--border {
        margin-top: 5px;
        width: 12%;
        border-bottom: 3px solid #99E2D0;
      }
    }

    &__card {
      display: flex;
      background-color: #ffff;
      padding: 1rem;
      border-radius: 15px;
      box-shadow: 0 6px 9px 0 rgba(111, 111, 111, 0.1);
      margin-top: 15px;
      cursor: pointer;
      animation: cardFade 1s ease-in 0s 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @keyframes cardFade {
        from {
          opacity: 0;
          transform: translateY(30%);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &__detail {
        display: flex;
        flex-direction: column;
        text-overflow: ellipsis;
        flex: 1;
        overflow: hidden;


        &--title {
          font-weight: bold;
          font-size: 17px;
          margin-bottom: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &__bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &--desc {
            font-size: 15px;
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          &--price {
            font-weight: 700;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-left: .5rem;
          }
        }
      }

      &--validation {
        background-color: #99e2d0;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;



        &__icon {
          color: #99e2d0;
          height: 1.6rem;
          width: 1.6rem;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          transform: rotate(180deg);
          transition-duration: .5s;
        }
      }
    }
  }
}

.menu__sub__card:hover {

  .menu__sub__card--validation {
    margin-right: -1rem;

    &__icon {
      transform: rotate(0);
    }
  }
}

.fas {
  font-weight: 900;
}


#delay__first{
  animation-delay: 0.2s;
}

#delay__second {
  animation-delay: 0.3s;
}

#delay__third {
  animation-delay: 0.5s;
}

#delay__fourth {
  animation-delay: 0.6s;
}

#delay__fifth {
  animation-delay: 0.7s;
}

#delay__sixth {
  animation-delay: 0.8s;
}

#delay__seventh {
  animation-delay: 0.9s;
}

#delay__eighth {
  animation-delay: 1s;
}

#delay__nine {
  animation-delay: 1.1s;
}

#delay__tenth {
  animation-delay: 1.2s;
}

.order__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.française__button {
  width: 200px;
  border: none;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  font-size: 17px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.française__button:hover {
  box-shadow: 0 0 6px 2px rgba(111, 111, 111, 0.4);
}



////////////////////// RESPONSIVE ///////////////////

@media (min-width: 960px) {

}
