.restaurants {
  background-color: #f3f3f3;
  padding: 1.7rem 1.7rem 4rem 1.7rem;

  &__card {
    margin-top: 20px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;

    &--img {
      vertical-align: top;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
    &--new {
      width: 100px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #99E2D0;
      color: #4e7367;
      text-align: center;
      font-weight: bold;
      position: absolute;
      margin-top: 10px;
      right: 1em;
      font-size: 15px;
    }

    &__bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      height: 70px;
      padding-left: 10px;
      padding-right: 20px;

      .heart > svg{
        width: 25px;
        color: white;
          path {
            fill :transparent;
            stroke-width :25;
            stroke : black;
        }
      }

      .heart:active svg * {
        animation : heart 0.5s ;
        transform-origin : bottom;
        animation-fill-mode : forwards;
        fill: url(#grad2);
      }

      @keyframes heart {
        0% {
          transform : scale(0);
          fill: url(#grad2);
          stroke : transparent ;

        }
        100% {
          transform :scale(1);
          stroke : transparent ;

        }
      }

      &__infos {
        display: flex;
        flex-direction: column;

        &--title {
          font-weight: bold;
          font-size: 18px;
          padding-bottom: 5px;
        }

        &--description {
        }
      }
    }
  }
}


///////////////////// RESPONSIVE //////////////////////

@media (min-width: 960px) {
  .restaurants {

    > h1 {
      text-align: center;
    }

    &__responsive {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__card {
      width: 425px;
      margin-right: 25px;

      &--img{
        height: 225px;
      }
    }
  }
}
