.reservation {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.7rem 3rem 1.7rem;

  &__title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
  }

  &__subtitle {
    text-align: center;
    font-size: 18px;
  }

  &__button{
    border: none;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 50px;
    font-size: 17px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
  }
}
