@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: white;
}
.header .header__logo {
  width: 200px;
}

.address {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: inset 0 5px 9px -7px rgba(0, 0, 0, 0.4);
  height: 60px;
}
.address__logo {
  margin-right: 1rem;
}
.address__location {
  padding-top: 2px;
  font-weight: bold;
}

.reservation {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 3rem 1.7rem 3rem 1.7rem;
}
.reservation__title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}
.reservation__subtitle {
  text-align: center;
  font-size: 18px;
}
.reservation__button {
  border: none;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  font-size: 17px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.fonctionnement {
  margin-bottom: 50px;
}
.fonctionnement__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  box-shadow: 3px 4px 8px 2px rgba(174, 174, 174, 0.3);
  margin-left: 15px;
  margin-top: 25px;
  transition: 0.2s;
}
.fonctionnement__wrapper:hover {
  background-color: rgba(204, 153, 244, 0.2);
}
.fonctionnement__wrapper:hover > .fonctionnement__icon {
  color: #9356DC;
}
.fonctionnement__number {
  background-color: #9356DC;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  position: relative;
  left: -12px;
}
.fonctionnement__icon {
  margin-left: 10px;
  margin-right: 25px;
  font-size: 20px;
  color: #6b6b6b;
  transition: 0.2s;
}
.fonctionnement__text {
  font-weight: bold;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 1.7rem 1.7rem 4rem 1.7rem;
}
.restaurants__card {
  margin-top: 20px;
  border-radius: 15px;
  position: relative;
}
.restaurants__card--img {
  vertical-align: top;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.restaurants__card--new {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #99E2D0;
  color: #4e7367;
  text-align: center;
  font-weight: bold;
  position: absolute;
  margin-top: 10px;
  right: 1em;
  font-size: 15px;
}
.restaurants__card__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 70px;
  padding-left: 10px;
  padding-right: 20px;
}
.restaurants__card__bottom .heart > svg {
  width: 25px;
  color: white;
}
.restaurants__card__bottom .heart > svg path {
  fill: transparent;
  stroke-width: 25;
  stroke: black;
}
.restaurants__card__bottom .heart:hover svg * {
  animation: heart 0.5s;
  transform-origin: bottom;
  animation-fill-mode: forwards;
  fill: url(#grad2);
}
@keyframes heart {
  0% {
    transform: scale(0);
    fill: url(#grad2);
    stroke: transparent;
  }
  100% {
    transform: scale(1);
    stroke: transparent;
  }
}
.restaurants__card__bottom__infos {
  display: flex;
  flex-direction: column;
}
.restaurants__card__bottom__infos--title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}
.footer {
  background-color: #2b2b2b;
  height: 180px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  color: white;
}
.footer__infos {
  padding-bottom: 10px;
}
.footer svg > path {
  fill: white;
}
.footer__logo {
  width: 120px;
  margin-bottom: 10px;
}
.footer__infos__logo {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__infos__logo__propose {
  margin-right: 15px;
}
.footer__infos__logo__handshake {
  margin-right: 15px;
  transform: scale(1, 1);
}

.restaurant {
  height: 300px;
}
.restaurant__img {
  height: 100%;
  width: 100%;
}

.restaurant__body {
  background-color: #f3f3f3;
}

.arrow__icon {
  font-size: 20px;
  display: flex !important;
  align-items: center;
  position: relative;
  left: -15%;
}

.menu {
  background-color: #f3f3f3;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  position: relative;
  top: -55px;
}
.menu__title {
  padding: 35px 30px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__title h1 {
  font-weight: lighter;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
.menu .heart > svg {
  width: 25px;
  color: white;
}
.menu .heart > svg path {
  fill: transparent;
  stroke-width: 25;
  stroke: black;
}
.menu .heart:hover svg * {
  animation: heart 0.5s;
  transform-origin: bottom;
  animation-fill-mode: forwards;
  fill: url(#grad2);
}
@keyframes heart {
  0% {
    transform: scale(0);
    fill: url(#grad2);
    stroke: transparent;
  }
  100% {
    transform: scale(1);
    stroke: transparent;
  }
}
.menu__sub {
  padding: 20px 20px 35px 20px;
}
.menu__sub__title {
  text-transform: uppercase;
}
.menu__sub__title--border {
  margin-top: 5px;
  width: 12%;
  border-bottom: 3px solid #99E2D0;
}
.menu__sub__card {
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 6px 9px 0 rgba(111, 111, 111, 0.1);
  margin-top: 15px;
  cursor: pointer;
  animation: cardFade 1s ease-in 0s 1;
}
@keyframes cardFade {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__sub__card__detail {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 15px;
}
.menu__sub__card__detail--title {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}
.menu__sub__card__detail__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__sub__card__detail__bottom--desc {
  font-size: 15px;
  font-weight: lighter;
}
.menu__sub__card__detail__bottom--price {
  font-size: 15px;
  font-weight: bold;
}

.order__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.française__button {
  width: 200px;
  border: none;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  font-size: 17px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.française__button:hover {
  box-shadow: 0 0 6px 2px rgba(111, 111, 111, 0.4);
}

/*# sourceMappingURL=style.css.map */
