html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

a{
  text-decoration: none;
  color: inherit;
}


